/* Google Font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Common Style Started  */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.hcc-img-cover {
    object-fit: cover;
}

.hcc-bg {
    background-color: #6047EC;
}


/* Common Style Ended   */


/* Typography Started */

.hcc-text-color {
    color: #6047EC;
}

.hcc-text-gray {
    color: #848199;
}

.hcc-h-color {
    color: #0A0826;
}

.hcc-f-600 {
    font-weight: 600;
}

.hcc-f-300 {
    font-weight: 300;
}


/* Typography Ended  */


/* Pricing style started */

.hcc-pricing-bg {
    background-color: #FEF5FA;
}

.hcc-pricing-icon {
    background-color: rgba(171, 161, 245, 0.26);
}

#highlightedPricing {
    top: -25px;
    border-radius: 20px;
}

#badge {
    background-color: #FF4E4E;
    right: -25px;
}


/* Pricing style Ended  */