/* Google Font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.hcc-img-cover {
    object-fit: cover;
}

.hcc-text-color {
    color: #6047EC;
}

.hcc-f-600 {
    font-weight: 600;
}

.hcc-f-300 {
    font-weight: 300;
}